.productCapsule {
    height: 400px;
}


/*------------------------------------------------------------*/
.catp74 {

}

@media (max-width: 576px) {
    .catp74 {
        width: 185px;
    }
    .catp74 img {
        object-fit: 'fill';
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 576px) {
    .catp74 {
        width: 180px;
    }
    .catp74 img {
        object-fit: 'fill';
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 768px) {
    .catp74 {
        width: 170px;
    }
    .catp74 img {
        object-fit: 'cover';
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 992px) {
    .catp74 {
        width: 165px;
        /* border: 5px solid red;
    margin: 100px; */
    }
    .catp74 img {
        object-fit: 'cover';
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 1200px) {
    .catp74 {
        width: 160px;
    }
    .catp74 img {
        object-fit: 'cover';
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 1500px) {
    .catp74 {
        width: 146px;
    }
    .catp74 img {
        object-fit: 'cover';
        width: 100%;
        height: 100%;
    }
}



.productCapsule h4 {
    color: #5d6065 !important;
    font-size: 0.8rem;
    line-height: 1.5;
    text-align: center;
    color: #5d6065;
}

.productCapsule small {
    color: #5d6065 !important;
    text-decoration: line-through;
}

.productCapsule span.spanDiscount {
    font-family: 'IRANSans', sans-serif;
    font-size: 0.7em;
    background-color: #1baf19;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    right: 8%;
    bottom: 40%;
    color: #FFF;
}

.productCapsule div.bWrapper {
    padding: 0 15px
}

.productCapsule div.bWrapper b {
    font-family: inherit;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: #333;
    padding: 2rem 0px 1rem;
    direction: rtl;
}

.catp74 a {
    font-family: IRANSans;
    font-size: 1.2em;
}

.catp74 > span {
    border: 2px solid #28a745 !important;
    border-radius: 50%;
    position: relative;
    z-index: 90;
}