.sidePanel{
    width: 500px;
    max-width: 95%;
    transition: margin .5s ease-in;
    margin: 0 -500px 0 0;
    background-color: rgba(210, 227, 252, 0.95);

    position: fixed;
    right: 0;
    top: 0;
}

.sidePanel.isOpen{
    margin-right: 0;
}

.backSidePanel{
    z-index: 400;
    opacity: 0;
    width: 0;
    transition: opacity .5s;
}

.backSidePanel.isOpen{
    opacity: 1;
    width: 100%;
}